* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}

table {
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
}

table tr th,
table tr td {
    padding: 5px;
    border: 1px #eee solid;
}

tfoot tr th,
tfoot tr td {
    font-size: 20px;
}

tfoot tr th {
    text-align: right;
}