<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    table tr th, table tr td {
        border: 1px #eee solid;
        padding: 5px;
    }
</style>
<table>
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.amount|format_currency('USD') }}</td>
                <td>{{ invoice.status }}</td>
                <td>
                    {{ invoice.dueDate is empty ? 'N/A' : invoice.dueDate|date('m/d/Y') }}
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">No Invoices Found</td></tr>
        {% endfor %}
    </tbody>
</table>


